/* body{
    background-color: red;
} */
.container{
    background-color:aquamarine;
    border:1px solid rgb(2, 88, 60);
    border-radius:5px;
    width:300px;
   height:fit-content;
}
label.form-label{
    display:block;
   
}
#name{
    display: block;
}
#email{
    display: block;
}
#password{
    display: block;
}
#msg{
    color:red;
}
